VITE_API_URL=http://localhost:3000
VITE_UNO_WS_URL=http://localhost:3001
VITE_CARDS_WS_URL=http://localhost:3002
VITE_CHESS_WS_URL=http://localhost:3003
VITE_SNAKES_WS_URL=http://localhost:3004
VITE_RUMMY_WS_URL=http://localhost:3005
